process {
    withLabel: star {
        executor='PBS'
        queue='workq'
        memory = 30.GB
        clusterOptions='-l nodes=1:ppn=8 -j oe'
    }
}

process {
    withLabel: low_mem {
        executor='PBS'
        queue='serial'
        memory=2.GB
        clusterOptions='-l nodes=1:ppn=2 -j oe'
    }
}